{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <div id="np">
        <h2>New Post</h2>
        <form action="{% url 'newpost' %}" method="post">
        {% csrf_token %}
            <div id="npform">{{form.content}}</div>
            <div><input type="submit"></div>
        </form>
    </div>
    <div id="ap">
        {% for p in p %}
            <div class="post">
                <div><h4><a href="{% url 'profile' p.creator.id %}" class="creator">{{p.creator}}</a></h4></div>
                <div>{{p.content}}</div>
                <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/640px-Heart_coraz%C3%B3n.svg.png" height="15px">
                    {{p.likes.count}} <span class="date">{{p.created}}</span></div>
            </div>
            
        {% endfor %}
    </div>
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" id="prev">Previous</a></li>
          <li class="page-item"><a class="page-link" id="next">Next</a></li>
        </ul>
      </nav>
{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}