{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    <div id="np">
        <h2>New Post {{x}}</h2>
        <form action="{% url 'newpost' %}" method="post">
        <span hidden id="csrf" value="{{ csrf_token }}">{% csrf_token %}</span>
            <div id="npform">{{form.content}}</div>
            <div><input type="submit"></div>
        </form>
    </div>
    <div id="ap">
        {% for p in posts.object_list %}
        
            <div id="" class="post">
                <div><h4><a href="{% url 'profile' p.creator.id %}" class="creator">{{p.creator}}</a></h4></div>
                <div id="content{{p.id}}">{{p.content}}</div>
                <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/640px-Heart_coraz%C3%B3n.svg.png" height="15px">
                    {{p.likes.count}} <span class="date">{{p.created}}</span>

                    {% if p.creator == user %}
                    <button type="button" id="{{p.id}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_post{{p.id}}">
                        Edit
                    </button>
                    <div class="modal fade" id="edit_post{{p.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Edit post{{p.id}}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <textarea name="" id="text{{p.id}}" cols="60" rows="5">{{p.content}}</textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="upload" onclick="submit( '{{p.id}}' )">Save changes</button>
                              <input type="hidden" id="idp" value="{{p.id}}">
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center ">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>
{% endblock %}
{% block script %}
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}